<div id = "supporting_document">
	<ol class="breadcrumb">
	  <li><a href="#">Home</a></li>
	  <li><a href="#">Application</a></li>
	  <li ><a href="#">Biographical Data</a></li>
	  <li ><a href="#">Course</a></li>
	  <li ><a href="#">Education</a></li>
	  <li ><a href="#">Refrences</a></li>
	  <li class="active">Check</a></li>
	</ol>


	<%= form_tag supporting_document_save_path,:method=>:get, :remote=>true do  %>

	<table class="table">
	<tr>
	<th>Document name </th>
	<th>Document Given</th>
	<th>Certified</th>
	</tr>
	<% @documents.each do |document| %>
	<tr>
	<td><%=document.name%></td>
	<td> <%= check_box_tag "document_given[]",document.id %><label>Document given</label>
	</td>
	<td><%= check_box_tag "certified[]" ,document.id %><label>Certified</label></td>
	</tr>
	<% end %>
	</table>

	<div class="form-actions">
	  <button class="btn primary" type="submit">Save</button> 
	</div>
	<% end %>
</div>